<!DOCTYPE html>
<html>
<head>
    <title>AI Image Cloaking</title>
</head>
<body>

<h2>Upload Image</h2>

<input type="file" id="fileInput">
<button onclick="uploadImage()">Upload</button>

<h3>Result:</h3>
<div id="results"></div>

<script>
async function uploadImage() {

    const file = document.getElementById("fileInput").files[0];
    if (!file) {
        alert("Select image first");
        return;
    }

    const resultsDiv = document.getElementById("results");
    resultsDiv.innerHTML = "<h3>Processing... Please wait ⏳</h3>";

    const formData = new FormData();
    formData.append("image", file);

    const response = await fetch("/upload", {
        method: "POST",
        body: formData
    });

    const data = await response.json();

    resultsDiv.innerHTML = "";

    if (data.length === 0) {
        resultsDiv.innerHTML = "No face detected";
        return;
    }

    data.forEach(face => {
        const img = document.createElement("img");
        img.src = "/" + face.protected_image + "?t=" + new Date().getTime();
        img.width = 250;
        resultsDiv.appendChild(img);
        resultsDiv.appendChild(document.createElement("br"));
    });
}
</script>


</body>
</html>
